<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
     <style>
        body {
            background-color: #ffe6f0;
            color: #d63384;
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 100px;
        }

        h1 {
            color: #c2185b;
        }

        p {
            color: #e75480;
        }
    </style>
</head>
<body>
    <h1>Login</h1>

    {% if erro %}
        <p style="color: red;">{{ erro }}</p>
    {% endif %}

    <form method="POST" action="{{ url_for('login') }}">
        <label for="nome">Nome completo:</label><br>
        <input type="text" id="nome" name="nome" required> <br> <br>

        <label for="senha">Senha:</label> <br>
        <input type="password" id="senha" name="senha" required> <br> <br>

        <button type="submit">Entrar</button>
    </form>
</body>
</html>
