<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Buscar Livro</title>
</head>
<body>
    <h1>Buscar Livro</h1>

    <form method="POST">

        <label>Título:</label><br>

        <input
            type="text"
            name="titulo"
        >

        <button type="submit">
            Buscar
        </button>

    </form>

    <br>

    {% if livro %}

        <h2>Livro encontrado!</h2>

        <p><strong>Título:</strong> {{ livro.titulo }}</p>
        <p><strong>Autor:</strong> {{ livro.autor }}</p>
        <p><strong>Ano:</strong> {{ livro.anoPublicação }}</p>
        <p><strong>Categoria:</strong> {{ livro.categoria }}</p>
        <p><strong>Quantidade:</strong> {{ livro.quantExemplares }}</p>

    {% elif request.method == "POST" %}

        <h2>Livro não encontrado.</h2>

    {% endif %}

    <br>

    <a href="{{ url_for('listar') }}">
        Voltar para a Lista
    </a>
</body>
</html>